inventaire-10.1.10.35.json
inventaire-10.1.10.36.json
inventaire-10.1.10.53.json
inventaire.json
inventory-sample.json
inventory-sample.yml
inventory.vmware.yml
vsphere35.json
vsphere35.ods
vsphere36.json
vsphere47.yaml
vsphere50.yaml
vsphere53.json
